{% extends 'main/base.html' %}
{% block title %}Create new List {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
create page
<form novalidate method="post" action="/users/create/" class="form-group">
{% csrf_token %}
<div class="card-body options">
<table>
{{form|crispy}}
<tr>
<td>&nbsp;</td>
<td><button type="submit" name ="save" class="btn btn-success">Save</button></td>
<td><a class="btn btn-outline-danger" href="/users/" role="button">Cancel</a></td>
</tr>
</table>
</div>
</form>
{% endblock %}