{% extends "main/base.html" %}
{% block title %}View List {% endblock %}
{% block content %}
<h1>{{ls.name}}</h1>
<form method="post" action="#">
<a href="/users/create/">Add new</a> 
{% csrf_token %}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for item in ls.all %}
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.role}}</td>
      <td><a href="/users/update/{{item.id}}">Edit</a></td>
      <td><a href="/users/delete/{{item.id}}" onClick="return confirm('¿Seguro que quieres borrar a {{item.name}}?');">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}